<!doctype html>
<html>

<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" rel="icon"
    type="image/x-icon" /><!--tiny.cc/emptyimage-->
 
  <style>
    .centered-canvas {
      margin: 10px auto;
      padding: 0;
      display: block;
    }
  </style>
</head>

<body>
  <div id='app'>
    <v-app height="100%">
      <v-app-bar absolute dense dark>
        <v-toolbar-title>Color Matcher</v-toolbar-title>
      </v-app-bar>
      <v-main height="100%">
        <br>
        <br>
        <br>

        <v-container>
          <v-row>
            <v-col cols=12 md=6>
              <div class="text-h2">
                Matched Colors
              </div>
              <v-container>
                <v-row>
                  <v-col>
                    <v-card>
                      <v-card-text>
                        <p>Match the bottom color to the top color using the sliders.</p>
                        <canvas id="canv" class="centered-canvas"></canvas>
                        <canvas id="canv2" class="centered-canvas"></canvas>
                      </v-card-text>
                      <v-card-title @click="revealScore()">
                        Hot/Cold Rate: {{scoreText}} 
                      </v-card-title>
                    </v-card>
                  </v-col>
                </v-row>
                
              </v-container>
            </v-col>
            <v-col cols=12 md=6>
              <div class="text-h2">
                Color Spaces
              </div>
              <v-container v-for="(colorSpace,index) in colorSpaces" :key="index">
                <v-row>
                  <v-col>
                    <v-card>
                      <v-container>
                        <v-row>
                          <v-col v-for="(channel,index) in colorSpace" :key="index" no-gutters>
                            <div>
                              {{channel}} {{amounts[channel]}}
                              <v-slider min="0" :max="channel=='hue'?360:255" step="5" v-model="amounts[channel]"
                                @change="updateValue(channel)">
                              </v-slider>
                            </div>
                          </v-col>

                        </v-row>
                      </v-container>
                    </v-card>
                  </v-col>
                </v-row>
                
              </v-container>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card>
                <v-card-title>
                  Preset Colors
                </v-card-title>
                <v-card-text>
                  <v-btn v-for="(array,index) in presetColors" :key="index" @click="presetColor(index)">{{index}}
                  </v-btn>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script src="colorsys.js"></script>

  <script>

    const app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        presetColors: [
          [0, 150, 0],
          [100, 0, 50],
          [125, 125, 125],
          [125, 125, 0], //Olive
          [0, 125, 125], //Teal
          [240, 125, 125], //Light Coral
          [145, 190, 145], //Dark Sea Green
          [100, 150, 235], //Corn Flower Blue
          [185, 85, 210], //Corn Flower Blue
          [210, 105, 30], //Chocolate
        ],
        colorSpaces: {
          rgb: ["red", "green", "blue"],
          hsv: ["hue", "saturation", "value"],
          cmyk: ["cyan", "magenta", "yellow", "black"]
        },
        rows: [
          {
            name: "red"
          },
          {
            name: "green"
          },
          {
            name: "blue"
          }
        ],
        amounts: {
          red: 0,
          green: 0,
          blue: 0,
          hue: 0,
          saturation: 0,
          value: 0
        },
        target: {
          red: 0,
          green: 150,
          blue: 0
        },
        canv: null,
        ctx: null,
        canv2: null,
        ctx2: null,
        scoreText: "",
      },
      computed: {
        actualScore(){
          let target = this.target;
          let amounts = this.amounts;
          let hsvTarget = colorsys.rgb2Hsv(target.red, target.green, target.blue);
          let hsvAmount = colorsys.rgb2Hsv(amounts.red, amounts.green, amounts.blue);
          let score= Math.abs(target.red - amounts.red) +
            Math.abs(target.green - amounts.green) +
            Math.abs(target.blue - amounts.blue) +
            Math.abs(hsvTarget.h - hsvAmount.h) + 
            Math.abs(hsvTarget.s - hsvAmount.s) + 
            Math.abs(hsvTarget.v - hsvAmount.v)
            return score;
        },
        score() {
          let score = this.actualScore;

          if(score == 0)
            return "Perfect"

          let simpleScore = Math.floor(score/25);
          let expressions = ["Lava", "Burning hot", "Hotter", "Hot", "Warm", "Meh", "Cold", "ReallyCold", "Ice"];
          simpleScore = Math.min(simpleScore, expressions.length - 1 )

          
         return expressions[simpleScore];
        }
      },
      mounted() {
        this.canv = document.querySelector("#canv");
        this.ctx = this.canv.getContext("2d");
        this.canv2 = document.querySelector("#canv2");
        this.ctx2 = this.canv2.getContext("2d");
        this.reverseUpdate();
        this.renderCanvases();

      },
      methods: {
        renderCanvases() {
          if (!this.ctx) return;
          let ctx = this.ctx;
          ctx.fillStyle = `rgb(${this.target.red},${this.target.green},${this.target.blue})`;
          ctx.fillRect(0, 0, this.ctx.canvas.width, this.ctx.canvas.height);

          ctx = this.ctx2;
          ctx.fillStyle = `rgb(${this.amounts.red},${this.amounts.green},${this.amounts.blue})`;
          ctx.fillRect(0, 0, this.ctx.canvas.width, this.ctx.canvas.height);
          //this.getScore();
          //this.scoreText = "[Click to See]";
          this.revealScore();
        },
        cmykConverter() {
          console.log("Converting from cmyk")
          let rgb = colorsys.cmyk2Rgb(this.amounts.cyan / 255, this.amounts.magenta / 255, this.amounts.yellow / 255, this.amounts.black / 255)
          this.amounts.red = rgb.r;
          this.amounts.green = rgb.g;
          this.amounts.blue = rgb.b;

        },
        hsvConverter() {
          console.log("Converting from hsv")
          let rgb = colorsys.hsv2Rgb(this.amounts.hue, this.amounts.saturation, this.amounts.value)
          this.amounts.red = rgb.r;
          this.amounts.green = rgb.g;
          this.amounts.blue = rgb.b;

        },
        reverseUpdate() {
          console.log("Updating everything based on RGB")
          let hsv = colorsys.rgb2Hsv(this.amounts.red, this.amounts.green, this.amounts.blue)
          this.amounts.hue = hsv.h;
          this.amounts.saturation = hsv.s;
          this.amounts.value = hsv.v;

          let cmyk = colorsys.rgb2Cmyk(this.amounts.red, this.amounts.green, this.amounts.blue);
          this.amounts.cyan = cmyk.c * 255;
          this.amounts.magenta = cmyk.m * 255
          this.amounts.yellow = cmyk.y * 255
          this.amounts.black = cmyk.k * 255

        },
        updateValue(channel) {
          let self = this;
          console.log(channel)
          let parent = Object.keys(this.colorSpaces).find(i => self.colorSpaces[i].includes(channel));
          if (parent != "rgb") {
            this[parent + "Converter"]();
          }
          this.reverseUpdate();
          console.log(parent);
          this.renderCanvases();
        },
        presetColor(index) {
          this.target.red = this.presetColors[index][0];
          this.target.green = this.presetColors[index][1];
          this.target.blue = this.presetColors[index][2];

          this.amounts.red = 0;
          this.amounts.green = 0;
          this.amounts.blue = 0;
          this.reverseUpdate();
          this.renderCanvases();
          
        },
        getScore(){
          this.scoreText = this.score;
        },
        revealScore(){
          this.getScore();
        }

      },
    });

  </script>
</body>

</html>